html[data-theme='light'] {
    /*------Color variables------*/
    --amber_400_75: #e5d82175;
    --black_900: #000000;
    --black_900_3f:#0000003f;
    --black_900_72:#00000072;
    --black_900_87:#00000087;
    --black_900_a3:#000000a3;
    --blue_gray_100: #d9d9d9;
    --deep_purple_500: #7836b2;
    --gray_100: #faf3f3;
    --gray_100_01: #faf2f2;
    --gray_200: #eeeeee;
    --indigo_50: #ddd9f9;
    --lime_200: #eaeb92;
    --lime_300_f9: #dbc16df9;
    --darker_lime_300_f9: #af9747f9;
    --purple_200: #de93ce;
    --purple_200_b2: #de94ceb2;
    --teal_100: #b5e8d5;
    --teal_100_d6: #b5e7d5d6;
    --white_a700: #ffffff;
    --yellow_300_f9: #ffe771f9;
}

html[data-theme='dark'] {
    --amber_400_75: #e5d82175;
    --black_900: #ffffff;
    --black_900_3f:#ffffff85;
    --black_900_72:#ffffff72;
    --black_900_87:#ffffff87;
    --black_900_a3:#f9f4f4;

    --blue_gray_100: #220202;
    --deep_purple_500: #7836b2;
    --gray_100: #0e0101;
    --gray_100_01: #1c1c1c;
    --gray_200: #0d0101;
    --indigo_50: #130e34;
    --lime_200: #915500;
    --lime_300_f9: #624d09f9;
    --darker_lime_300_f9: #4e3e08f9;
    --purple_200: #de93ce;
    --purple_200_b2: #de94ceb2;
    --teal_100: #2b6c54;
    --teal_100_d6: #205c46d6;
    --white_a700: #4f4f4f;
    --yellow_300_f9: #ffe771f9;
}

:root{
    --shadow-xs: 4px 4px 4px 0 #0000003f;
    --shadow-sm: 0 4px 51px 18px #000000a3;
    --shadow-md: 5px 4px 4px 0 #0000003f;

    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 14px;
    --radius-lg: 18px;
    --radius-xl: 22px;
    --radius-2x1: 30px;
    --radius-3x1: 64px;
    --radius-4x1: 220px;

    --space-xs: 4px;
    --space-sm: 16px;
    --space-md: 20px;
    --space-lg: 34px;
    --space-xl: 140px;
}

.columnfree_user_icon-one {
    background-color: var(--white_a700);
    width: 100%;
    min-height: 1200px;
}

.container-fluid{
    justify-content: center;
    min-height: 600px;
    background-color: var(--white_a700);
}

.side-panel{
    text-align: center;
    
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #b5e7d5ec;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
}

.side-panel-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AddButton{
    background-color: #de94ceb2;
    width: 257px;
    height: 40px;
    border-radius: 20px;
}


.CancelButton{
    background-color: #dbc16df9;
    width: 257px;
    height: 40px;
    border-radius: 20px;
}


.no-tasks {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    margin: 200px auto;
  }


.search__container{
    width: 100%;
    display:flex;
    gap: 10px;
    margin-top: 20px;
}

.search__input{
    width: 100%;
    font-size: 20px;
    background: var(--white_a700);
    color: var(--black_900);
    border: 1px solid #ccc;
}

.search__input::placeholder{
    color: var(--black_900_3f);
}

.search__button:hover .search__icon {
    opacity: 0.5;
}

.date__filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.date-input {
    background: var(--white_a700);
    color: var(--black_900);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    margin: 0px 10px;
}

.filter__button {
    padding: 5px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.filter__button:hover {
    background: #218838;
}

.gcolor{
    background-color: var(--gray_100_01);
    color: var(--black_900_a3) !important
}

#root{
    background-color: var(--white_a700) ;
}